.header {
    padding-top: 28px;
    margin: auto;
    width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  
  
  @media screen and (max-width: 1023px) {
    .header {
      width: calc(100% - 48px);
      padding: 28px 24px 0 24px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .header {
      width: calc(100% - 32px);
      padding: 16px 16px 0 16px;
    }
  }
  