.footer__links {
  display: flex;
  flex-direction: row;
  gap: 18px;

}

@media screen and (max-width: 767px) {
  .footer__links {
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;

  }
}
