.cover {
  position: relative;
  max-width: calc(100% - 48px*2);
  width: 100%;
  min-height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  display: flex;
  margin: 66px auto 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    width: 100%;
    min-height: 200px;
  }
}
